.user-list {
    width: 30%;
    background-color: rgb(255, 255, 255);
    height: 100%;
    font-size: 30px;
    font-weight: 700;
    color: black
}

.box-chat {
    width: 100%;
    background-color: grey;

}

.booking-chat {
    height: 100%;
    width: 100%
}

.display-chat {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    height: 90%;
    overflow: auto
}

.send-btn {
    width: 20%;
    height: 100%;

}

.fill {
    width: 80%;
    height: 100%;

}

.control {
    border: 2px solid black;
    display: flex;
    height: 10%
}

.user-list-header {
    border-bottom: 2px solid black
}

.chat-text {
    border: 1px solid black;
    border: 1px solid black;
    height: 10%;
    font-size: 20px;
    padding-left: 5px;
    margin: 10px;
}

.chat-text-detail {
    text-align: start;
}

.user-list-detail {
    font-weight: 400;
    font-size: 15px
}

.user {
    height: 60px
}

.box-show {
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    height: 100%
}


.user-name:hover {
    cursor: pointer
}

#admin {
    background-color: rgb(63, 101, 255);
    color: white;
    width: 80%;
    margin-left: 20%
}

#user {
    width: 80%;
    margin-right: 20%
}